* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}
body {
	overflow-x: hidden;
}
.container {
	max-width: 1200px;
	margin: 0 auto;

}
.container-first {
	max-width: 1500px;
	margin: 0 auto;
}
.section-first {
	margin-left: 200px;
}
.header-wrapper {
	display: flex;
	
}
.header-block-left {
	width: 755px;
	margin-top: 72px;
	margin-left: 150px;
	z-index: 0;
	margin-right: -90px;
}
.header-block-right {
	    width: 1075px;
    background-image: url(../img/background-img.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 50px;
    /* filter: blur(55px); */
    background-size: 120%;
    z-index: 1;
    height: 700px;
    position: relative;
	 
}
.left-program {
	padding-top: 53px;
}
.left-program p {
	color: #9135A0;
	font-weight: 300;
	font-size: 42px;
}
.left-prize {
	padding-top: 40px;
}
.left-prize p {
	font-size: 72px;
	font-weight: 700;
	color: #1E4C69;
}
.left-btn__wrapper {
	padding-top: 70px;
}
.left-btn {
	background: linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
border-radius: 10px;
padding: 13px 80px;
font-size: 25px;
color: #ffffff;
text-decoration: none;
transition: 0.4s ease;
}
.left-btn:hover {
background: linear-gradient(91.03deg, #EF8CFF 1.36%, #B6AAFF 99.41%);
}
.left-btn:active {
background: linear-gradient(91.03deg, #B21BE7 1.36%, #563CF5 99.41%);


}
.right-items img{
	position: absolute;
}
.matebook {
	margin-top: 110px;
	margin-left: 100px;
}
.phone {
	margin-left: 430px;
	margin-top: 400px;
	z-index: 1;
}
.miband {
	margin-left: 280px;
	margin-top: 490px;
}
.poketbook {
	margin-top: 490px;
	margin-left: 60px;

}
.miwatch {
	margin-top: 250px;
	margin-left: 50px;
}
.air {
	margin-left: 170px;
	margin-top: 100px;
}
.gts {
	margin-left: 320px;
	margin-top: 20px;
}
.section-second {
	padding-top: 158px;
	position: relative;
}
.section-four {
	position: relative;
}
.part-title {
	margin: 0 auto;
	text-align: center;
}
.part-title p {
	font-size: 55px;
	color: #1E4C69;
	font-weight: 700;
}
.part-step {
	padding-top: 108px;
	display: flex;
	justify-content: space-between;

}
.step-one {
	max-width: 328px;
	position: relative;
}
.step-two {
	max-width: 304px;
	position: relative;
}
.one-step {

	padding-top: 47px;
}
.one-step p {
	font-size: 28px;
	color: #9135A0;
	font-weight: 300;
	text-align: center;
}
.step-number {
	margin-top: -50px;
	margin-left: 30px;
	position: absolute;
	background-color: #fff;
	z-index: 1;
	border-radius: 50%;
	padding: 10px 25px;
	font-size: 45px;
	color: #1E4C69;
	font-weight: 700;
	box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
}
.one-img-three {
	margin-left: 50px;
}
.back-2 {
	position: absolute;
	margin-top: -270px;
	margin-left: -350px;
	z-index: -111;
}
.back-star {
	position: absolute;
	margin-left: 1070px;
	margin-top: 200px;
}
.arrow-one {
	position: absolute;
	margin-left: 200px;
}
.arrow-two {
	position: absolute;
	bottom: 0;
	margin-bottom: 100px;
	margin-left: 260px;
}
.part-btn__wrapper {
	margin: 0 auto;
	text-align: center;
	padding-top: 65px;
}
.part-btn {
	font-size: 26px;
	color: #ffffff;
	font-weight: 400;
	background: linear-gradient(91.03deg, #536EFF 1.36%, #80B2FF 99.41%);
border-radius: 10px;
text-decoration: none;
padding: 15px 120px;
}
.part-btn:hover{
	background: linear-gradient(91.03deg, #92A3FF 1.36%, #A0C6FF 99.41%);
}
.part-btn:active {
	background: linear-gradient(91.03deg, #324FE4 1.36%, #4582DD 99.41%);
}
.example-title {
	text-align: center;
}
.example-title p {
	font-size: 55px;
	font-weight: 700;
	color: #1E4C69;
}
.example {
	padding-top: 103px;
}
.prize-wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 52px;
	
}
.prize-block {
	width: 289px;
	box-shadow: 5px 4px 13px -5px rgba(0, 0, 0, 0.25);
	position: relative;
	background-color: #fff;
}
.m-prize-block {
	max-width: 250px;
	box-shadow: 5px 4px 13px -5px rgba(0, 0, 0, 0.25);
	position: relative;
	background-color: #fff;
}
.prize-img {
	padding-bottom: 10px;
}
.prize-text {
	text-align: center;
	border-top: 1px solid #BFC6D0;
	margin-left: 9px;
	margin-right: 9px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.prize-text__fitness {
	font-size: 18px;
	font-weight: 300;
	color: #000;


}
.section-three {
	position: relative;
}
.prize-text__xiaomi {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	
}
.prize-btn__wrapper {
	text-align: center;
	padding-bottom: 30px;
}
.prize-btn {
	color: #007BFF;
	border: 1px solid #007BFF;
	border-radius: 5px;
	padding: 10px 60px;
	text-decoration: none;
}
.under-prize {
	text-align: center;
	padding-top: 58px;
	max-width: 834px;
	margin: 0 auto;
}
.under-prize p {
	color: #9135A0;
	font-size: 30px;
	font-weight: 300;

}
.back-oval {
	position: absolute;	
	margin-left: -20px;
}
.prize-reg__wrapper {
	text-align: center;
	padding-top: 50px;
}
.prize-reg {
	background: linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
border-radius: 10px;
padding: 13px 80px;
font-size: 25px;
color: #ffffff;
text-decoration: none;
}
.prize-reg:hover {
	background: linear-gradient(91.03deg, #EF8CFF 1.36%, #B6AAFF 99.41%);
}
.prize-reg:active{
	background: linear-gradient(91.03deg, #B21BE7 1.36%, #563CF5 99.41%);
}
.stock-title {
	text-align: center;

}
.section-five {
	padding-top: 103px;
	position: relative;
}
.back-4 {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -200px;
	z-index: -111;
}
.stock-title p {
	font-size: 55px;
	color: #1E4C69;
	font-weight: 700;
}
.start-wrapper {
	max-width: 766px;
	margin: 0 auto;
	padding-top: 99px;

}
.start__title {
	border-bottom: 1px solid #C4C4C4;
	display: flex;
	align-items: center;
}
.title-1.title1--active {
	border-bottom: none;
}
.title-2.title2--active {
	border-bottom: none;
}
.title-3.title3--active {
	border-bottom: none;
}
.start__title p {
	font-size: 25px;
	font-weight: 500;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 22px;
}
.start-wrapper, .start-block, .start__content {
	position: relative;
}
.start__content {
	position: relative;
	height: 0;
	overflow: hidden;
	

}
.content-1.content1--active {
	height: 100%;
	padding-bottom: 15px;
		border-bottom: 1px solid #C4C4C4;
}
.content-2.content2--active {
	height: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid #C4C4C4;
}
.content-3.content3--active {
	height: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid #C4C4C4;
}
.close1 {
	max-width: 15px;
	max-height: 15px;
	border: 1px solid white;
	padding: 10px 13px;
	border-radius: 50%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.open1 {
	display: none;
	max-width: 15px;
	max-height: 15px;
	border: 1px solid white;
	padding: 13px 10px;
	border-radius: 50%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.open1.open1--active {
	display: block;
}
.close1.close1--none {
	display: none;

}

.start__content {
	padding-left: 59px;
	
}
.start__content p {
	font-size: 20px;
	font-weight: 300;

}
.close2 {
	max-width: 15px;
	max-height: 15px;
	border: 1px solid white;
	padding: 10px 13px;
	border-radius: 50%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.open2 {
	display: none;
	max-width: 15px;
	max-height: 15px;
	border: 1px solid white;
	padding: 13px 10px;
	border-radius: 50%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.open2.open2--active {
	display: block;
}
.close2.close2--none {
	display: none;

}
.close3 {
	max-width: 15px;
	max-height: 15px;
	border: 1px solid white;
	padding: 10px 13px;
	border-radius: 50%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.open3 {
	display: none;
	max-width: 15px;
	max-height: 15px;
	border: 1px solid white;
	padding: 13px 10px;
	border-radius: 50%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.open3.open3--active {
	display: block;
}
.close3.close3--none {
	display: none;

}
.section-six {
	padding-top: 110px;
}
.question-title {
	text-align: center;
	padding-bottom: 53px;
}
.question-title p {
	font-size: 55px;
	color: #1E4C69;
	font-weight: 700;
}
.page-mobile {
	display: none;
}
.m-items-wrapper {
	display: none;
}
.m-left-title {
	display: none;
}
.m-header-block-left {
	display: none;
}
.m-part-step {
	display: none;
}
.swiper-container {
	display: none;
}
@media (max-width: 1800px) {
	.back-star {
		margin-top: 400px;
		margin-left: 60%;
	}
}
@media (max-width: 1570px){
	.header-block-left {
		margin-left: 0;
	}
}
@media (max-width: 1200px) {
	
	.container {
		max-width: 100%;
		
	}
	.header-wrapper {
		display: block;
	}
	.section-first {
		margin-left: 0;
	}
	.right-items {
		display: none;
	}
	.m-items-wrapper {
		display: block;
		text-align: center;
	}
	.m-left-title {
		position: absolute;
		z-index: 111111;
		margin-top: 26px;
		margin-left: 17px;
	}
	.m-left-title img {
		max-width: 75px;
		max-height: 32px;
	}
	.header-block-left {
		display: none;
	}
	.m-left-title {
		display: block;
	}
	.header-block-right {
		height: 100%;
		width: 100%;
		background-image: url(../img/mobile-back1.png);
	}
	.m-header-block-left {
		display: block;
		text-align: center;
		
	}
	.balls {
		font-size: 26px;
		font-weight: 700;
		color: #1E4C69;
		margin-left: 49px;
		margin-right: 49px;
	}
	.m-program {
		padding-top: 14px;
		margin-left: 16px;
		margin-right: 16px;
	}
	.m-program p {
		color: #9135A0;
		font-weight: 300;
		font-size: 20px;
	}
	.m-left-btn__wrapper {
		padding-top: 32px;
	}
	.m-left-btn {
		 border: 1px solid linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
		 background: linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
	border-radius: 10px;
	padding: 15px 80px;

	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	}
	.back-star, .back-2 {
		display: none;
	}
	.section-second {
		padding-top: 50px;
	}
	.part-title p {
		font-size: 26px;
	}
	.part-step {
		display: none;
	}
	.part-btn {
		 border: 1px solid linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
		 background: linear-gradient(91.03deg, #536EFF 1.36%, #80B2FF 99.41%);
	border-radius: 10px;
	padding: 15px 115px;

	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	
	}
	.m-part-step {
		display: block;
		margin-left: 16px;
		margin-right: 16px;
	}
	.m-part-step {
		position: relative;
		min-height: 470px;
	}
	.m-step__wrapper {
		max-width: 159px;
		padding-top: 49px;
		position: absolute;
	}
	.m-step-text {
		text-align: center;
	}
	.m-step-text p{
		font-size: 18px;
		font-weight: 300;
		color: #9135A0;
	}
	.m-step-number {
		position: absolute;
		padding: 6px 13px;
		right: 0;
		margin-right: 21px;
		margin-top: -20px;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		font-size: 24px;
		font-weight: 700;
		color: #1E4C69;
		box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
	}
	.m-step-number2 {
		position: absolute;
		padding: 6px 13px;
		left: 0;

		margin-left:35px;
		margin-top: -30px;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		font-size: 24px;
		font-weight: 700;
		color: #1E4C69;
		box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
	}
	.m-step-number3 {
		position: absolute;
		padding: 6px 13px;
		right: 0;
		margin-right: 15px;
		top: 0;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		font-size: 24px;
		font-weight: 700;
		color: #1E4C69;
		box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
	}
	.m-step-strelka {
		position: absolute;
		margin-left: 150px;
		top: 0;
		margin-top: 30px;
	}
	.m-step__wrapper2 {
		right: 0;
		position: absolute;
		max-width: 159px;
		margin-top: 180px;
	}
	.m-step__wrapper3 {
		left: 0;
		position: absolute;
		max-width: 152px;
		margin-top: 280px;
	}
	.m-step-strelka2 {
		position: absolute;
		margin-left: -70px;
		margin-top: -20px;
	}
	.m-part-back {
		position: absolute;
		right: 0;
		margin-top: 10px;
	}
	.example {
		padding-top: 50px;
	}
	.example-title p {
		font-size: 26px;
	}
	.prize-wrapper {
		display: none;
	}
	.back-oval {
		display: none;
	}
	.swiper-container {
		display: block;
		margin-top: 50px;
		position: relative;
		padding-bottom: 150px!important;
	}
	.under-prize {
		margin-top: -150px;
	}
	.under-prize p {
		font-size: 18px;
		text-align: center;
	}
	.prize-reg{
		 border: 1px solid linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
		 background: linear-gradient(91.03deg, #E753FF 1.36%, #9180FF 99.41%);
	border-radius: 10px;
	padding: 15px 80px;

	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	}
	.stock-title p {
		font-size: 28px;
	}
	.back-4 {
		display: none;
	}
	.question-title p {
		font-size: 28px;
	}
	.start-wrapper {
		padding-top: 40px;
	}
	.title-1, .title-2, .title-3{
		border-bottom: none;
	}
	.start-wrapper {
		margin-left: 16px;
		margin-right: 16px;
	}
	.start-block {
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid white;
		border-radius: 10px;
		box-shadow: 3px 2px 8px -5px rgba(0, 0, 0, 0.85);
	}
	.content-1.content1--active {
		border-bottom: none;
	}.content-2.content2--active {
		border-bottom: none;
	}
	.content-3.content3--active {
		border-bottom: none;
	}
	.start-block {
		margin-bottom: 15px;
	}
	.start__content {
		padding-left: 0;

	}
	.start__content p {
		font-size: 17px;
	}
	.slider-img {
		position: absolute;
		right: 0;
	}
}